@font-face{
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/museo_sans_cyrl_300.eot');
    src: url('../fonts/museo_sans_cyrl_300.ttf') format('truetype');
    src: url('../fonts/museo_sans_cyrl_300.woff') format('woff');
    /* src: url('../fonts/museo_sans_cyrl_300.eot?#iefix') format('embedded-opentype'); */
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/museo_sans_cyrl_500.eot');
    src: url('../fonts/museo_sans_cyrl_500.ttf') format('truetype');
    src: url('../fonts/museo_sans_cyrl_500.woff') format('woff');
    /* src: url('../fonts/museo_sans_cyrl_500.eot?#iefix') format('embedded-opentype'); */
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/museo_sans_cyrl_700.eot');
    src: url('../fonts/museo_sans_cyrl_700.ttf') format('truetype');
    src: url('../fonts/museo_sans_cyrl_700.woff') format('woff');
    /* src: url('../fonts/museo_sans_cyrl_700.eot?#iefix') format('embedded-opentype'); */
    font-weight: 700;
    font-style: normal;
}